.ia-toolbar-wrapper {
  bottom: 10px;
  display: flex;
  justify-content: center;
  left: 0;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

.ia-toolbar {
  align-items: center;
  bottom: 30px;
  display: flex;
  flex-direction: row;
  pointer-events: all;
}

.ia-toolbar section {
  display: inline-block;
  padding: 5px 1px;
  white-space: nowrap;
}

.ia-toolbar section:first-child {
  padding-left: 0;
}

.ia-toolbar section:last-child {
  padding-right: 0;
}

.ia-toolbar section + section {
  border-left: 0 solid var(--gray-300);
}

.ia-toolbar button {
  margin: 0 4px;
}

.ia-toolbar section.visibility button {
  color: #fff;
  font-size: 12px;
  width: auto;
  padding: 10px;
}

.ia-toolbar section.visibility button svg {
  padding-right: 5px;
}

