.ia-overlay.ia-menubar {
  border-radius: 0 0 0 12px;
  border-width: 0 0 1px 1px;
  padding: 0 5px;
  position: absolute;
  right: 0; 
  top: 0;
}

.ia-overlay.ia-menubar button {
  color: var(--gray-800);
  width: 34px;
  height: 34px;
}

.ia-overlay.ia-menubar button svg {
  height: 16.5px;
}