.ia-overlay.ia-menubar {
  border-radius: 0 0 0 12px;
  border-width: 0 0 1px 1px;
  box-sizing: border-box;
  padding: 0 5px;
  pointer-events: all;
}

.ia-overlay.ia-menubar:not(.collapsed) {
  background-color: #fff; 
  border-radius: 0;
} 

.ia-overlay.ia-menubar button {
  color: var(--gray-800);
  width: 34px;
  height: 34px;
}

.ia-overlay.ia-menubar button svg {
  height: 16.5px;
}

.ia-overlay.ia-menubar .close {
  display: inline-block;
  overflow: hidden;
  text-align: right;
  vertical-align: bottom;
}