/** Avatar squircle clip path: https://codepen.io/nklunder/pen/ZrxbZO **/
.avatar {
  background: #fff;
  clip-path: url(#squircle);
  display: inline-block;
  position:relative;
}

.avatar-image,
.avatar-fallback {
  clip-path: url(#squircle);
  position: absolute;
}

.avatar-image {
  object-fit: cover;
}

.avatar-fallback-inner {
  position: absolute;
  clip-path: url(#squircle);
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 500;
  font-size: var(--font-small);
  justify-content: center;
}

.avatar-list {
  margin-left: -2px;
  padding: 0;
}

.avatar-list ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.avatar-list li {
  display: inline;
}

.avatar-list li + li {
  margin-left: -14px;
}

