/** Avatar squircle clip path: https://codepen.io/nklunder/pen/ZrxbZO **/
.avatar {
  background: #fff;
  clip-path: url(#squircle);
  display: inline-block;
  height: 42.5px;
  margin-bottom: -8px;
  position:relative;
  width: 42.5px;
}

.avatar-image,
.avatar-fallback {
  clip-path: url(#squircle);
  height: 38px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 38px;
}

.avatar-image {
  object-fit: cover;
}

.avatar-fallback-inner {
  background: radial-gradient(hsl(188, 35%, 65%), hsl(188, 35%, 45%));
  width: 36px;
  height: 36px;
  top: 1px;
  left: 1px;
  position: absolute;
  clip-path: url(#squircle);
  align-items: center;
  color: #fff;
  display: flex;
  font-weight: 600;
  font-size: var(--font-small);
  justify-content: center;
}

.avatar-list {
  margin-left: -2px;
  padding: 0;
}

.avatar-list ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.avatar-list li {
  display: inline;
}

.avatar-list li + li {
  margin-left: -9px;
}

