.dropdown-content, .dropdown-subcontent {
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  background-color: #fff;
  border-radius: var(--border-radius);
  /* https://getcssscan.com/css-box-shadow-examples */
  /* #43 by Tobias Ahlin */
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  min-width: 180px;
  padding: 5px;
  z-index: 3;
}

.dropdown-content[data-side='top'], .dropdown-subcontent[data-side='top'] {
  animation-name: slideDownAndFade;
}
.dropdown-content[data-side='right'], .dropdown-subcontent[data-side='right'] {
  animation-name: slideLeftAndFade;
}
.dropdown-content[data-side='bottom'], .dropdown-subcontent[data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.dropdown-content[data-side='left'], .dropdown-subcontent[data-side='left'] {
  animation-name: slideRightAndFade;
}

.dropdown-item {
  border-radius: calc(var(--border-radius) - 2.5px);
  font-size: var(--font-small);
  outline: none;
  padding: 5px 10px 5px 38px;
  position: relative;
  user-select: none;
}

.no-icons .dropdown-item {
  padding: 5px 10px;
}

.wide .dropdown-item + .dropdown-item {
  margin-top: 10px;
}

.dropdown-item svg {
  height: 20px;
  margin-left: 0;
  padding-right: 6px;
  position: relative;
  top: 1.5px;
  width: 22px;
  height: 22px;
}

.dropdown-item p {
  color: var(--gray-600);
  line-height: 150%;
  max-width: 300px;
  padding: 5px 5px 5px 0;
}

.dropdown-item strong {
  font-style: normal;
  font-weight: 600;
}

.dropdown-item[data-highlighted],
.dropdown-checkbox-item[data-highlighted],
.dropdown-radio-item[data-highlighted],
.dropdown-sub-trigger[data-highlighted] {
  background-color: var(--cravensworth-700);
  color: #fff;
}

.dropdown-item[data-highlighted] p,
.dropdown-checkbox-item[data-highlighted] p,
.dropdown-radio-item[data-highlighted] p,
.dropdown-sub-trigger[data-highlighted] p {
  color: rgba(255, 255, 255, 0.8);
}

.dropdown-item[data-disabled],
.dropdown-checkbox-item[data-disabled],
.dropdown-radio-item[data-disabled],
.dropdown-sub-trigger[data-disabled] {
  pointer-events: none;
}

.dropdown-indicator {
  left: 9px;
  top: 5px;
  position: absolute;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
