@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@import './avatar.css';
@import './button.css';
@import './dropdown.css';
@import './markdown.css';

:root{
  /* Colors */

  --cravensworth-900: #25163f; /* dashboard sidebar background */  
  --cravensworth-800: #402076; /* primary button background, gradient dark edge) */
  --cravensworth-700: #522b94; /* primary button background + border (and upper/lighter gradient edge) */
  --cravensworth-600: #593498; /* primary button hover background, gradient dark edge) */
  --cravensworth-500: #6b3fb7; /* primary button hover background (and upper/lighter gradient edge) */
  --cravensworth-400: #8664bd; /* Inline text hyperlinks */
  --cravensworth-200: #dbc7ff; /* dashboard sidebar tab indicator */

  --gray-800: #202125; /* dark font */
  --gray-600: #5d5d5d; /* button text color */
  --gray-500: #797979; /* light font */
  --gray-400: #cacaca; /* button border */ 
  --gray-300: #d9d9d9; /* light section border */
  --gray-200: #e8e8e8; /* lighter section border */
  --gray-100: #f6f6f6; /* bright page background */
  --gray-50:  #fafafa; /* table row background */

  --white-t-90: rgba(255, 255, 255, 0.9);

  /* Font */
  --font-small: 0.875em;

  /* Other */
  --border-radius: 5px;
}

html, body {
  background-color: var(--gray-100);
  color: var(--gray-800);
  font-family: 'Public Sans', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 160%;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus-visible {
  border-radius: 2px;
  outline: 2px solid var(--cravensworth-500);
}

h1 {
  font-family: Poppins;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.02ch;
  margin: 0;
  padding: 0.3em 0;
}

p {
  margin: 0;
  padding: 0 0 0.6em 0;
}

svg {
  height: 18px;
  vertical-align: text-bottom;
}