.ia-desktop-container, .ia-osd-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.ia-osd-container .openseadragon-canvas {
  outline: none;
}

.ia-overlay {
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid var(--gray-300);
  border-radius: 15px;
  box-shadow:
    0px 0px 16px -1px rgba(0, 0, 0, 0.05),
    0px 0px 16px -8px rgba(0, 0, 0, 0.05), 
    0px 0px 16px -12px rgba(0, 0, 0, 0.12),
    0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  transition: background-color 250ms;
  white-space: nowrap;
}

.ia-overlay:hover {
  background-color: #fff;
}

.ia-overlay section {
  display: inline-block;
  padding: 5px 1px;
  white-space: nowrap;
}

.ia-overlay button {
  align-items: center;
  background: transparent;
  border: none;
  border-radius: 12px;
  box-shadow: none;
  clip-path: url(#squircle);
  color: var(--gray-600);
  display: inline-flex;
  height: 40px;
  justify-content: center;
  outline: none;
  padding: 0;
  width: 40px;
  transition: all 0.125s;
}

.ia-overlay button.unclipped {
  clip-path: none;
}

.ia-overlay button svg {
  margin: 0;
  padding: 0;
  width: auto;
  height: 19px;
}

.ia-overlay :is(button, a.button) + :is(button, a.button) {
  margin-left: 2px;
}

.ia-overlay button:hover {
  background-color: rgba(0, 0, 0, 0.09);
  color: var(--gray-800);
}

.ia-overlay button.active {
  background-color: var(--cravensworth-700);
  color: var(--white-t-90);
}

.ia-overlay button.active:hover {
  background-color: var(--cravensworth-500);
}

.ia-overlay-divider {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.12);
  border-width: 0;
  display: inline-block;
  height: 0;
  margin: 0;
}

.ia-overlay-divider-h {
  border-top-width: 2px; 
  width: 16px;
}

.ia-overlay-divider-v {
  border-left-width: 2px; 
  height: 16px;
  margin: 0 4px;
  right: 0; 
}