.ia-desktop-container, .ia-osd-container {
  height: 100%;
  position: relative;
  width: 100%;
}

.ia-osd-container .openseadragon-canvas {
  outline: none;
}

.ia-overlay {
  background-color: #fff;
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.05), 0px 0px 16px -8px rgba(0, 0, 0, 0.05), 0px 0px 16px -12px rgba(0, 0, 0, 0.12), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
  position: absolute;
}