.ia-presence {
  border-radius: 18px;
  padding: 3px 3px 3px 5px;
  position: absolute;
  right: 65px;
  top: 10px;
}

.ia-presence ul {
  filter: 
    drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.25)) 
    drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.08));
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ia-presence li {
  display: inline-block;
}

.ia-presence li + li {
  margin-left: -8px;
}

.ia-presence .avatar-outline {
  backdrop-filter: blur(4px);
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: #fff;
  clip-path: url(#squircle);
  display: inline-block;
  height: 38px;
  width: 38px;
  position: relative;
}

.ia-presence .avatar {
  height: 35px;
  width: 35px;
  position: relative;
  top: 1.5px;
  left: 1.5px;
}

.ia-presence .avatar-fallback, .ia-presence .avatar-image {
  top: 2.5px;
  left: 2.5px;
  height: 30px;
  width: 30px;
}