.ia-presence {
  border-radius: 18px;
  padding: 3px 3px 3px 5px;
  position: absolute;
  right: 65px;
  top: 8px;
}

.ia-presence ul {
  filter: 
    drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.35)) 
    drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12)) 
    drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.08));
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.ia-presence li {
  display: inline-block;
}

.ia-presence li + li {
  margin-left: -8px;
}

.ia-presence .avatar-wrapper {
  background-color: #fff;
  clip-path: url(#squircle);
  height: 36px;
  width: 36px;
}

.ia-presence .avatar {
  left: 2px;
  position: relative;
  top: 2px;
}

.ia-presence .avatar-fallback, .ia-presence .avatar-image {
  height: 28px;
  left: 2px;
  top: 2px;
  width: 28px;
}

.ia-presence .avatar-fallback-inner {
  font-size: 12px;
  font-weight: 600;
  height: 28px;
  left: 0;
  line-height: 12px;
  top: 0;
  width: 28px;
}