---
import { Icon } from 'astro-iconify';

export interface Props {
	active: string;
}

const { active } = Astro.props;
---
<aside>
  <nav aria-label="main menu">
    <ul>
      <li>
        <a href="/projects" class:list={[{ active: active == 'projects' }]}>
          <Icon class="item-icon" name="ph:folders" />
        </a>
      </li>
      <li>
        <a href="/shared" class:list={[{ active: active == 'shared' }]}>
          <Icon class="item-icon" name="ph:users-three" />
        </a>
      </li>
      <li>
        <a href="/recent" class:list={[{ active: active == 'recent' }]}>
          <Icon class="item-icon" name="ph:clock" />
        </a>
      </li>
      <li>
        <a href="/bookmarks" class:list={[{ active: active == 'bookmarks' }]}>
          <Icon class="item-icon" name="ph:bookmark-simple" />
        </a>
      </li>
    </ul>
  </nav>
</aside>

<style>
  aside {
    background-color: var(--cravensworth-900);
    height: 100%;
    width: 60px;
    flex: 0 0 60px;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    padding: 4px 0;
  }

  li a {
    align-items: center;
    border-right: 1px solid var(--cravensworth-900);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    position: relative;
  }

  li svg {
    height: 20px;
  }

  li a.active::before {
    background-color: var(--cravensworth-300);
    border-radius: 0 2px 2px 0;
    bottom: 6px;
    content: '';
    left: -2px;
    position: absolute;
    top: 6px;
    width: 5px;
  }

  li a.active {
    background-color: rgba(255, 255, 255, 0.15);
  }

  li a:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .item-icon {
    color: rgba(255, 255, 255, 0.8);
    width: 20px;
  }
</style>