.ia-sidepanel.ia-annotationlist {
  background-color: var(--gray-100);  
  border-radius: 0;
  bottom: 0;
  box-sizing: border-box;
  padding: 12px 8px;  
  position: absolute;
  right: 0;
  top: 40px;
  width: 290px;
}